<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button class="hamburger-button">&#9776;</button>
    <div class="sidebar" id="sidebar">
        <!-- Sidebar content here -->
        <div class="voice-selector">
            <div class="voice-list">
                <ul>
                    {% for voice in voices %}
                        <li><button class="voice-button" data-voice="{{voice}}">{{voice}}</button></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <audio id="audio-playback" src="" controls hidden></audio>
        <div class="chat-history" id="chat-history">
            <div class="chat-bubble user">hi</div>
        </div>
        <div class="text-input">
            <button class="mic-icon">&#127897;</button>
            <div class="listening-indicator" id="listening-indicator" style="display: none;">
                <span class="dot" style="background-color: #FF6961;"></span>
                <span class="dot" style="background-color: #6CA6CD;"></span>
                <span class="dot" style="background-color: #98FB98;"></span>
            </div>
            <div class="input-group" id="input-group">
                <input type="text" id="chat-input" class="chat-input" placeholder="Type your message here...">
                <button class="send-button">&#10148;</button>
            </div>
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
